@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


:root{
    --negro: #15202B;
    --blanco: #f7f9f9;
    --gris: #4d5963;
    --celeste: #1D9BF0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    width: 30rem;
    font-family: "Roboto Flex", sans-serif;
}

button{
    font-family: inherit;
    font-weight: 600;
    text-align: start;
}

header{
    border-bottom: 1px solid var(--gris);
    height: 3rem;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    padding: 1rem 0;
    width: 5rem;
}

.logo h3{
    font-size: 2rem;
    font-family: "Kodchasan", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header-2{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    border: none;
}

.header__izquierda{
    display: flex;
}

.header__izquierda img{
    border-radius: 50%;
    width: 2rem;
}

.header__usuario{
    color: #9fa2a5;
}

.boton__cerrar{
    background-color: transparent;
    color: var(--blanco);
    border: 1px solid #EE6352;
    width: 8rem;
    text-align: center;
    border-radius: 20px;
    height: 2rem;
    cursor: pointer;
}

.login__titulo{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.login__boton-1{
    width: 70%;
    height: 2.5rem;
    border-radius: 20px;
    background-color: var(--blanco);
    margin-bottom: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;

}

.login__boton-2{
    width: 70%;
    height: 2.5rem;
    border-radius: 20px;
    background-color: var(--celeste);
    color:var(--blanco);
    margin-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
}

.login__boton-3{
    width: 70%;
    height: 2.5rem;
    border-radius: 20px;
    background-color: transparent;
    color:  var(--celeste);
    border: 2px solid var(--celeste);
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
    
}

.login__boton-1 span{
    width: 10rem;
    margin: auto;
}

.login__o--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.login__linea{
    width: 45%;
    height: 2px;
    background-color: var(--gris);
}

.login__o{
    padding:0 20px ;
}

.login__terminos{
    font-size: .8rem;
    margin: .5rem auto;
    width: 80%;
    margin-bottom: 1rem;
}

.terminos__link{
    color: var(--celeste);
    text-decoration: underline;
}